In [157]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [158]:
l_data=pd.read_table('course_era1.txt',sep=',',header=None)

In [159]:
l_data

          0         1
0    6.1101  17.59200
1    5.5277   9.13020
2    8.5186  13.66200
3    7.0032  11.85400
4    5.8598   6.82330
..      ...       ...
92   5.8707   7.20290
93   5.3054   1.98690
94   8.2934   0.14454
95  13.3940   9.05510
96   5.4369   0.61705

[97 rows x 2 columns]

In [160]:
x=l_data[0]
y=l_data[1]

In [179]:
def hypothesis(hx,ht0,ht1):
    h=ht0+hx*ht1
    return h

In [203]:
def grad_discent(dx,dy,dt0,dt1,dm,alpha):
    t0sum=(hypothesis(dx,dt0,dt1)-dy).sum()
    t1sum=((hypothesis(dx,dt0,dt1)-dy)*dx).sum()
    temp0=dt0-((alpha/dm)*t0sum)
    temp1=dt1-((alpha/dm)*t1sum)
    return temp0,temp1

In [204]:
def cost_func(ch,cy,cm):
    csum=((ch-cy)**2).sum()
    return csum/(2*cm)

In [205]:
m=len(x)
t0=3
t1=0.4
i=0
lr=0.01
err_list=[]
while(True):
    t0,t1=grad_discent(x,y,t0,t1,m,lr)
    updated_h=hypothesis(x,t0,t1)
    error=cost_func(updated_h,y,m)
    err_list.append(error)
    i+=1
    if error<4.46:
        break
    if (i==10000):
        break    
print(i,error,t0,t1)

10000 4.476971375975179 -3.8957807774858533 1.1930336340605283

In [206]:
import numpy as np
xp = np.linspace(min(x)-1,max(x)+2,100)
yp = 1.19*xp-3.9

In [ ]:
plt.scatter(x,y)
plt.plot(xp,yp,color='red',label='Linear Regression')
plt.plot()
plt.show()
plt.plot(err_list,)
plt.show()